body {
	background-color: ivory;
	font-size: 18px; 
}

h1 {
	background-color: indigo; 
	font-size: 30px; 
	color: white; 
	text-align: center; 
}

p {
	background-color: powderblue; 
	font-size: 20px; 
	text-align: center;
}

.title {
	font-weight: bold; 
}

.time {
	font-style: italic;
}

#myphoto img {
	width: 30%; 
	height: auto;
	display: block;
	margin: 0 auto;
}

#quote {
	text-align: right;
	font-weight: bold; 
	font-style: italic;
}